<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script async src="//apis.google.com/js/platform.js?onload=start"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded"
         style="background-color:#59323C;margin-bottom:100px ">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" style="color:white" href="{{ url_for("show_categories") }}">Book Shelf</a>

      <div class="collapse navbar-collapse offset-sm-9"
           id="navbarSupportedContent">

            {% block login %}
            {% endblock %}

      </div>
    </nav>




    <!-- Main content block -->
    {% block main %}
    {% endblock %}


    {% block scripts %}
    {% endblock %}
</body>
</html>